version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-go-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-github-actions:
        patterns:
          - "*"

  - package-ecosystem: "npm"
    directory: "/docs-site"
    schedule:
      interval: "weekly"
    groups:
      all-npm-dependencies:
        patterns:
          - "*"
